.container{
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid  rgba(9, 132, 227, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(5, 196, 107, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 63, 52, 0.5);
}

@media(max-width: 770px){
    .card{
        margin: 2% 0 !important;
    }
}